<!-- 
1... The AddItemAction is fired with the payload of newShoppingItem.
2... Our shoppingReducer sees the new action and filters by action.type.
3... As the action.type is [SHOPPING] Add Item the newShoppingItem is added to the end of our array: [...state, action.payload],
4... The shopping slice of state is updated and as we're subscribed to changes with the async pipe our UI updates.

 -->

<body>
  <div id="header">
    <h2>Add an item below</h2>
    <form (ngSubmit)="addItem()">
      <input
        type="text"
        [(ngModel)]="newShoppingItem.name"
        placeholder="Item"
        name="itemName"
        id="inputText"
      />
      <button type="submit">+</button>
    </form>
  </div>
  <ul id="list">
    <li
      *ngFor="let shopping of shoppingItems | async"
      (click)="deleteItem(shopping.id)"
    >
      {{ shopping.name }}
      <br /><br />
    </li>
  </ul>
</body>
